<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1118, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-10-10 15:36:55 +0000</string>
	<key>Creator</key>
	<string>Pascal Poizat</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{498.09335047926635, 602.88355955521911}, {16.289103439144423, 16.289104199367422}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>131</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{481.80424704012199, 640.78065912109423}, {16.289103439144423, 16.289104199367422}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>132</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{454.54493108073729, 610.19703491003725}, {16.289103439144423, 16.289104199367422}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>133</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>133</integer>
							</dict>
							<key>ID</key>
							<integer>134</integer>
							<key>Points</key>
							<array>
								<string>{498.68734624901072, 605.02638741467888}</string>
								<string>{486.79070727659467, 595.5700842004012}</string>
								<string>{480.99999814342976, 599.99999821804045}</string>
								<string>{469.50341969291213, 611.51608667864832}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>131</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>132</integer>
							</dict>
							<key>ID</key>
							<integer>135</integer>
							<key>Points</key>
							<array>
								<string>{497.15530879003904, 614.2778470629296}</string>
								<string>{488.12043000632076, 617.51051026485538}</string>
								<string>{481.47181635769056, 626.15370841145841}</string>
								<string>{486.5833798347511, 639.88477172596833}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>131</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>131</integer>
							</dict>
							<key>ID</key>
							<integer>136</integer>
							<key>Points</key>
							<array>
								<string>{499.23408133004153, 646.31198786045604}</string>
								<string>{517.70676074272603, 641.11308981904085}</string>
								<string>{509.67410686435892, 620.04192431412207}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>132</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>132</integer>
							</dict>
							<key>ID</key>
							<integer>137</integer>
							<key>Points</key>
							<array>
								<string>{461.58615182991707, 627.92314588399165}</string>
								<string>{459.53139131721031, 645.76711959028853}</string>
								<string>{480.35554856178595, 647.9291906619419}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>3</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>133</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{418.80864529919148, 578.91298794854833}, {137.62629699707031, 98.067058781145974}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>138</integer>
							<key>Rotation</key>
							<real>341.94479370117188</real>
							<key>Shape</key>
							<string>Cloud</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.79</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>5</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>130</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{649.0495279186166, 436.81347206085775}, {25.758604776949941, 25.758605144244743}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>140</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{623.29092314166678, 496.74165545767175}, {25.758604776949941, 25.758605144244743}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>141</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{580.18468657615813, 448.37856008480446}, {25.758604776949941, 25.758605144244743}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>142</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>142</integer>
							</dict>
							<key>ID</key>
							<integer>143</integer>
							<key>Points</key>
							<array>
								<string>{650.28005472260008, 440.43349134404764}</string>
								<string>{631.17621031828332, 425.24838403691115}</string>
								<string>{603.87943280817683, 451.03913281076507}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>140</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>141</integer>
							</dict>
							<key>ID</key>
							<integer>144</integer>
							<key>Points</key>
							<array>
								<string>{647.91642954675751, 454.70638598569013}</string>
								<string>{633.27895356538158, 459.94364810875095}</string>
								<string>{622.76523732989233, 473.61147940977901}</string>
								<string>{630.97813946472183, 495.67358938067144}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>140</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>140</integer>
							</dict>
							<key>ID</key>
							<integer>145</integer>
							<key>Points</key>
							<array>
								<string>{650.49531297148769, 505.58934653671878}</string>
								<string>{680.06499081331128, 497.26734127694272}</string>
								<string>{667.23012341305355, 463.59906544256307}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>141</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>141</integer>
							</dict>
							<key>ID</key>
							<integer>146</integer>
							<key>Points</key>
							<array>
								<string>{591.36180418974914, 476.03999380748792}</string>
								<string>{588.06997375277535, 504.6269427467264}</string>
								<string>{621.37005944204952, 508.0843287419064}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>142</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{523.67348480224609, 398.90786008129908}, {217.6339111328125, 155.07731807956404}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>147</integer>
							<key>Rotation</key>
							<real>341.94479370117188</real>
							<key>Shape</key>
							<string>Cloud</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.79</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>5</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>139</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{361.7639853941098, 437.6325937536057}, {38.224783642952097, 38.224783673850276}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>149</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{323.53920175115786, 526.5637231172575}, {38.224783642952097, 38.224783673850276}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>150</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{259.5711964711154, 454.79474152553854}, {38.224783642952097, 38.224783673850276}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>151</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.396178</string>
										<key>g</key>
										<string>0.75304</string>
										<key>r</key>
										<string>0.649971</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.328642</string>
										<key>g</key>
										<string>0.58821</string>
										<key>r</key>
										<string>0.509858</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>151</integer>
							</dict>
							<key>ID</key>
							<integer>152</integer>
							<key>Points</key>
							<array>
								<string>{364.3477529476686, 443.60684834131013}</string>
								<string>{335.24066613165326, 420.47044598167315}</string>
								<string>{294.02973460917957, 459.40767096886356}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>149</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>150</integer>
							</dict>
							<key>ID</key>
							<integer>153</integer>
							<key>Points</key>
							<array>
								<string>{360.99385551034538, 463.85891538072514}</string>
								<string>{338.36105663311878, 471.95688929747138}</string>
								<string>{322.75910412579151, 492.23942757339199}</string>
								<string>{335.2844193504763, 525.885862615919}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>149</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>149</integer>
							</dict>
							<key>ID</key>
							<integer>154</integer>
							<key>Points</key>
							<array>
								<string>{362.97774817411749, 539.95558042099731}</string>
								<string>{407.78974529072582, 527.34382074325447}</string>
								<string>{388.39850933400379, 476.47695536638867}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>150</integer>
							</dict>
						</dict>
						<dict>
							<key>Class</key>
							<string>LineGraphic</string>
							<key>Head</key>
							<dict>
								<key>ID</key>
								<integer>150</integer>
							</dict>
							<key>ID</key>
							<integer>155</integer>
							<key>Points</key>
							<array>
								<string>{276.26833739207979, 494.88168067333652}</string>
								<string>{271.27266085161148, 538.26518750721175}</string>
								<string>{321.65146167164681, 543.49577338892982}</string>
							</array>
							<key>Style</key>
							<dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.646457</string>
										<key>g</key>
										<string>0.470327</string>
										<key>r</key>
										<string>0.595257</string>
									</dict>
									<key>HeadArrow</key>
									<string>FilledArrow</string>
									<key>Legacy</key>
									<true/>
									<key>LineType</key>
									<integer>1</integer>
									<key>TailArrow</key>
									<string>0</string>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
							<key>Tail</key>
							<dict>
								<key>ID</key>
								<integer>151</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{175.71072387695312, 381.3821180511178}, {322.96041870117188, 230.12879978643628}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>156</integer>
							<key>Rotation</key>
							<real>341.94479370117188</real>
							<key>Shape</key>
							<string>Cloud</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.79</string>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>5</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>148</integer>
				</dict>
			</array>
			<key>ID</key>
			<integer>129</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{71, 60}, {942, 649}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>37</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Calque 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-10-13 08:30:06 +0000</string>
	<key>Modifier</key>
	<string>Pascal Poizat</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canevas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{-2158, 123}, {1494, 1292}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-121, -185}, {1359, 1153}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canevas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
